.scheduling {
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgb(0 0 0 / 5%);
  background: #fefefe;
}

.scheduling__content {
  display: flex;
  height: 400px;
  position: relative;
}

.scheduling__messages-form {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
