.scheduling-sidebar {
  position: relative;
  height: 100%;
  width: 58px;
  background: #fefefe;
  border-left: 1px solid #efefef;
  transition: width 0.2s ease;
  padding: 60px 17px;
}

.scheduling-sidebar__content {
  display: none;
}

.scheduling-sidebar.is-open {
  width: 280px;
}

.scheduling-sidebar.is-open .scheduling-sidebar__content {
  display: block;
}

.scheduling-sidebar__info {
  margin-bottom: 40px;
}

.scheduling-sidebar__avatar {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.scheduling-sidebar__toggle {
  width: 24px;
  height: 24px;
  overflow: hidden;
  border-radius: 100%;
  position: absolute;
  top: 25px;
  left: auto;
  right: 17px;
  transform: rotate(180deg);
}

.scheduling-sidebar__toggle svg {
  color: #666;
}

.scheduling-sidebar__toggle:hover svg {
  color: #fff;
}

.scheduling-sidebar.is-open .scheduling-sidebar__toggle {
  right: auto;
  left: 17px;
}

.scheduling-sidebar.is-open .scheduling-sidebar__toggle svg {
  transform: rotate(180deg);
}

@media screen and (max-width: 767px) {
  .scheduling-sidebar.is-open {
    width: 100%;
    border-left: 0;
    position: absolute;
    top: 0;
    right: 0;
  }
}
