.scheduling-content {
  display: flex;
  align-items: flex-end;
  height: 400px;
  position: relative;
}

.scheduling-content__messages {
  flex: 1;
  display: flex;
  flex-flow: row wrap;
  padding: 40px 17px;
  row-gap: 15px;
  max-height: 400px;
  overflow-y: auto;
}
